RewriteEngine On
RewriteBase /teavu_investment/

# Remove index.php from URL
RewriteCond %{THE_REQUEST} \s/index\.php/ [NC]
RewriteRule ^index\.php/(.*)$ /teavu_investment/$1 [R=301,L]

# Redirect to index.php internally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]